@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 300;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
  }
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
  }
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
  }
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
  }
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 700;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
  }
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 900;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 100;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Ultralight.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 200;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Thin.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Black.ttf");
  }
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 900;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Heavy.ttf");
  }

  @font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/sf-pro-icons_regular.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/sf-pro-icons_semibold.woff2') format('woff2');
    font-weight: 600;
  }
*{margin:0;padding:0;font:inherit;color:inherit; }
*, :after, :before {box-sizing:border-box;}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
li{list-style: none;}

body{
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'SF Pro Display', sans-serif;
  color: #f5f5f7;
  font-style: normal;
}